<h1 class="mt-4 mb-4">All Tweets</h1>

<div class="container">
  <% if @logged_in %>
    <%= link_to 'Create Tweet', new_tweet_path, class: 'btn btn-primary mb-4' %>
  <% else %>
    <%= link_to 'Login', login_path, class: 'btn btn-primary mr-2' %>
    <%= link_to 'Register', new_user_path, class: 'btn btn-success' %>
  <% end %>

  <% @tweets.each do |tweet| %>
    <div class="card mt-4">
      <div class="card-body">
        <p class="card-text"><%= tweet.content %></p>
      </div>
    </div>
  <% end %>
</div>