<h1 class="mt-4 mb-4">Welcome to Twitter, <%= @user.username %>!</h1>

<div class="container">
  <% @tweets.each do |tweet| %>
    <div class="card mt-4">
      <div class="card-header">
        <img src="https://placekitten.com/50/50" alt="User Avatar" class="rounded-circle mr-2">
        <strong><%= tweet.user.username %></strong>
        <span class="text-muted ml-2">@<%= tweet.user.username %></span>
         <button type="button" class="btn btn-outline-info btn-sm mr-2">Message</button>
        <button type="button" class="btn btn-outline-secondary btn-sm">Follow</button>
      </div>
      <div class="card-body">
        <p class="card-text"><%= tweet.content %></p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-primary btn-sm mr-2">Like</button>
        <button type="button" class="btn btn-outline-success btn-sm mr-2">Retweet</button>
       
      </div>
    </div>
  <% end %>
</div>
